biocore_bridge_workflow.json
{
  "name": "BioCore \u2014 Bridge to Local Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "biocore-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-NGROK-URL.ngrok-free.app/biocore",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ .body ? JSON.stringify(.body) : JSON.stringify() }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "node-02",
      "name": "Bridge to BioCore Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "notes": "Replace PASTE-YOUR-NGROK-URL-HERE with your actual ngrok URL e.g. https://abc123.ngrok-free.app"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-03",
      "name": "Return Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Bridge to BioCore Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge to BioCore Agent": {
      "main": [
        [
          {
            "node": "Return Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    "biocore",
    "bridge",
    "ngrok"
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-25T00:00:00.000Z",
  "versionId": "biocore-bridge-v1.0"
}
